---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import NovelCard from "@/components/NovelCard.astro";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import { API_URL } from "@/constants/index";
import type { Novel } from "@/types/novel";

async function fetchLatestNovels() {
  const latestAddedResponse = await fetch(`${API_URL}/novel/latest`);
  const latestUpdatedResponse = await fetch(`${API_URL}/novel/latest-update`);

  const latestAdded = await latestAddedResponse.json();
  const latestUpdated = await latestUpdatedResponse.json();

  return { latestAdded, latestUpdated };
}

const { latestAdded, latestUpdated } = await fetchLatestNovels();
---

<Layout>
  <Header activeNav="home" />
  <Main>
    <div class="flex flex-col py-8">
      <h2 class="pb-8 text-xl font-bold">Latest Added Novel</h2>
      <div class="mx-auto grid w-full max-w-3xl grid-cols-1 gap-6">
        {
          latestAdded.map((novel: any) => (
            <NovelCard novel={novel} isLatestUpdate={false} />
          ))
        }
      </div>
    </div>

    <div class="flex flex-col py-8">
      <h2 class="pb-8 text-xl font-bold">Latest Updated Novel</h2>
      <div class="mx-auto grid w-full max-w-3xl grid-cols-1 gap-6">
        {
          latestUpdated.map((novel: any) => (
            <NovelCard novel={novel} isLatestUpdate={true} />
          ))
        }
      </div>
    </div>
  </Main>
  <Footer />
</Layout>
