---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import NovelCard from "@components/NovelCard.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Pagination from "@components/Pagination.astro";
import { API_URL } from "@constants/index";

const currentPage = parseInt(Astro.url.searchParams.get("page") || "1");
const limit = 15;

async function fetchNovels(page: number, limit: number) {
  const response = await fetch(`${API_URL}/novels?page=${page}&limit=${limit}`);
  return response.json();
}

const { novels, totalPages } = await fetchNovels(currentPage, limit);

const prevUrl = currentPage > 1 ? `?page=${currentPage - 1}` : "";
const nextUrl = currentPage < totalPages ? `?page=${currentPage + 1}` : "";
---

<Layout>
  <Header activeNav="novels" />
  <Main>
    <div
      class="mt-4 border-l-4 border-yellow-500 bg-yellow-100 p-4 text-yellow-700"
    >
      <p class="font-bold">Work in Progress</p>
      <p>
        Note: This site is currently under development and may contain errors or
        inconsistencies between novels.
      </p>
    </div>
    <div class="flex flex-col py-8">
      <NovelCard novels={novels} />
    </div>

    <Pagination
      currentPage={currentPage}
      totalPages={totalPages}
      prevUrl={prevUrl}
      nextUrl={nextUrl}
    />
  </Main>
  <Footer />
</Layout>
