---
import { Image } from "astro:assets";

const novels = Array.isArray(Astro.props.novels) ? Astro.props.novels : [];



---

<div class="lg:px-8 mx-auto grid max-w-3xl grid-cols-1 gap-6 px-4 sm:px-6">
  {novels.map(novel => (
      <a
        href={`/novel/${novel.ID}`}
        class="relative block overflow-hidden rounded-xl bg-skin-card shadow-lg transition-all duration-300 hover:shadow-xl"
      >
        <div class="flex flex-col sm:flex-row">
          {novel.thumbnail && (
            <Image
              class="h-48 w-full object-contain sm:h-auto sm:w-48"
              src={novel.thumbnail}
              alt={novel.title}
              width={200}
              height={200}
            />
          )}
          <div class="flex flex-grow flex-col justify-between p-4">
            <div class="flex-grow">
              <h2 class="mb-2 font-bold text-skin-base sm:text-xl">
                {novel.title}
              </h2>
              <div class="relative">
                <p class="line-clamp-3 text-sm text-skin-base sm:line-clamp-4">
                  {novel.description}
                </p>
              </div>
            </div>
            {novel.status.status === "in_progress" ? 
                <p class="text-xs max-sm:pt-4">Translation Status: In Progress</p> 
            : null}
            <p class="text-xs text-skin-base opacity-65 max-sm:pt-4 sm:pb-2">Total Chapters: {novel.total_chapters_count} Chapters</p>
            <p class="text-sm text-skin-base opacity-80 sm:mt-auto">
              Author: {novel.author}
            </p>
          </div>
        </div>
      </a>
    ))}
</div>
