---
import { formatAuthor, formatTitle } from "@/lib/format-text";
import formatRelativeTime from "@/lib/format-time";
import { Image } from "astro:assets";

const novel = Astro.props.novel;
const isLatestUpdate = Astro.props.isLatestUpdate;
---

<a
  href={`/novel/${novel.slug}`}
  class="relative block overflow-hidden rounded-xl bg-skin-card bg-opacity-60 shadow-lg"
>
  <div class="flex flex-col sm:flex-row">
    {
      novel.thumbnail && (
        <Image
          class="mx-auto h-full w-44 min-w-48 object-contain max-sm:max-h-72 sm:h-auto sm:w-48 sm:object-cover"
          src={novel.thumbnail}
          alt={novel.title}
          inferSize={true}
        />
      )
    }
    <div class="flex flex-grow flex-col justify-between p-4">
      <div class="flex-grow">
        <h2 class="text-sm font-bold text-skin-base sm:mb-2 sm:text-xl">
          {formatTitle(novel.title)}
        </h2>
        <p
          class="mb-1 text-xs italic text-skin-base opacity-70 sm:mb-4 sm:text-sm"
        >
          {novel.raw_title}
        </p>
        <div class="relative">
          <p
            class="line-clamp-3 text-xs text-skin-base sm:line-clamp-4 sm:text-sm"
          >
            {novel.description}
          </p>
        </div>
      </div>
      <div class="mt-4 flex gap-4 text-xs text-skin-base">
        <div>
          <span class="font-semibold">Author:</span>{" "}
          {formatAuthor(novel.author)}
        </div>
        <div>
          <span class="font-semibold">Chapters:</span>{" "}
          {novel.total_chapters_count}
        </div>
        <div>
          <span class="font-semibold">
            {isLatestUpdate ? "Last Updated:" : "Added:"}
          </span>{" "}
          {
            formatRelativeTime(
              isLatestUpdate ? novel.last_chapter_date : novel.created_at
            )
          }
        </div>
        {
          novel.translation_status === "in_progress" && (
            <div class="col-span-2 sm:col-span-3">
              <span class="font-semibold">Status:</span>
              <span class="rounded-full">Translating</span>
            </div>
          )
        }
      </div>
    </div>
  </div>
</a>
