---
import formatRelativeTime from "@/lib/formatRelativeTime";
import { Image } from "astro:assets";

const novel = Astro.props.novel;
const isLatestUpdate = Astro.props.isLatestUpdate;

const formatTitle = (title: string) => {
  return title.replace(/\b\w/g, (char: string) => char.toUpperCase());
};

const formatAuthor = (author: string) => {
  return author
    .replace(/[_-]/g, " ")
    .split(" ")
    .map((word: string) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
};
---

<a
  href={`/novel/${novel.ID}`}
  class="relative block overflow-hidden rounded-xl bg-skin-card bg-opacity-60 shadow-lg"
>
  <div class="flex flex-col sm:flex-row">
    {
      novel.thumbnail && (
        <Image
          class="h-full w-full min-w-48 object-contain max-sm:max-h-72 sm:h-auto sm:w-48 sm:object-cover"
          src={novel.thumbnail}
          alt={novel.title}
          inferSize={true}
        />
      )
    }
    <div class="flex flex-grow flex-col justify-between p-4">
      <div class="flex-grow">
        <h2 class="font-bold text-skin-base sm:mb-2 sm:text-xl">
          {formatTitle(novel.title)}
        </h2>
        <p class="mb-1 text-sm italic text-skin-base opacity-70 sm:mb-4">
          {novel.raw_title}
        </p>
        <div class="relative">
          <p class="line-clamp-3 text-sm text-skin-base sm:line-clamp-4">
            {novel.description}
          </p>
        </div>
      </div>
      <div class="mt-4 flex gap-4 text-xs text-skin-base">
        <div>
          <span class="font-semibold">Author:</span>{" "}
          {formatAuthor(novel.author)}
        </div>
        <div>
          <span class="font-semibold">Chapters:</span>{" "}
          {novel.total_chapters_count}
        </div>
        <div>
          <span class="font-semibold">
            {isLatestUpdate ? "Last Updated:" : "Added:"}
          </span>{" "}
          {
            formatRelativeTime(
              isLatestUpdate ? novel.last_chapter_date : novel.CreatedAt
            )
          }
        </div>
        {
          novel.translation_status === "in_progress" && (
            <div class="col-span-2 sm:col-span-3">
              <span class="font-semibold">Status:</span>
              <span class="rounded-full">Translating</span>
            </div>
          )
        }
      </div>
    </div>
  </div>
</a>
